<article class="{{type}} format-{{format}}">
	<header>
		<h1><a href="{{link}}">{{{title}}}</a></h1>
	</header>
	<div class="entry-content">
		{{{content}}}
	</div>
	<footer>
		Posted by {{author.name}} on <span class="post_date">{{date}}</span>
	</footer>
</article>